<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hit_API_NSURLSession.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44EDDB3C1D49EE8400A82E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EDDB581D49EE8400A82E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EDDB631D49EE8400A82E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
